<!DOCTYPE HTML>
<html>
  <head>
    <meta />
    <title>
      Create a Puppy!
    </title>
  </head>
  <body>
    <form method="post" action="/display_puppy">
      <input type="text" name="breed">
      <input type="text" name="age">
      <input type="text" name="name">
      <input type="submit" name="submit">
    </form>
    
  </body>
</html>