<!DOCTYPE HTML>
<html>
  <head>
    <title>Puppy Adoption Site</title>
  </head>
  <body>
    <p>Puppy Name: <%= @name %></p>
    <p>Puppy Breed: <%= @breed %></p>
    <p>Puppy Age: <%= @age %></p>
  </body>
</html>